<%- include('template/header') %>
    <div class="container-fluid container-sm">
        <h1 style="font-size: large; color: red">Error!</h1>
        <div><%= error %></div>
        <br/>
        <button type="button" class="btn btn-primary" onclick="window.location='<%= path %>'"><%= button %></button>
    </div>
<%- include('template/footer') %>